.profile__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__text {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    align-self: center;
    max-width: 189px;
  }
}