.profile__info {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  padding-left: 3.75px;
  color: #FFFFFF;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .profile__info {
    padding-left: 0;
    margin: 0 auto;
    max-width: 282px;
  }
}
