.popup__close-icon {
  background: transparent url(../../../images/close_icon.svg) no-repeat center;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity .5s ease;
  padding: 0;
}

.popup__close-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}