.element__like {
  background-image: url(../../../../images/like.svg);
  width: 22px;
  height: 19px;
  cursor: pointer;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  background-color: #FFFF;
  transition: opacity .5s easy;
}
.element__like:hover {
  opacity: .5;
}
.element__like_active:active {
  background-image: url(../../../../images/like_active.svg);
}