.popup__container {
  position: relative;
  width: 430px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    margin: 0 auto;
  }
}