@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/__image-avatar/profile__image-avatar.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info_block/profile__info_block.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/element/element.css);
@import url(../blocks/elements/element/__image/element__image.css);
@import url(../blocks/elements/element/__like/element__like.css);
@import url(../blocks/elements/element/__card/element__card.css);
@import url(../blocks/elements/element/__title/element__title.css);
@import url(../blocks/elements/element/__group/element__group.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_field-name/popup__input_field-name.css);
@import url(../blocks/popup/__input/_field-text/popup__input_field-text.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/popup_opened.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__title/popup__title.css);
