.popup__button {
  max-width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  padding: 14px 124px 18px 125px;
  margin: 48px 0 37px;
  cursor: pointer;
  border: none;
  transition: opacity .5s ease;
}
.popup__button:hover {
  opacity: .8;
}
@media screen and (max-width: 767px) {
  .popup__button {
    max-width: 238px;
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 0 25px;
  }
}