.profile__add-button {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin-left: auto;
  padding: 0;
  background: transparent url(../../../images/add_btn.svg) no-repeat center;
  align-self: center;
  cursor: pointer;
  position: relative;
  text-align: right;
  background-size: 22px;
  transition: opacity .5s ease;
}
.profile__add-button:hover {
  opacity: .6;
}
@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }
}