.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background: transparent url(../../../images/edit_btn.svg) no-repeat center;
  background-size: 10px;
  margin-left: 18px;
  padding: 0;
  cursor: pointer;
  transition: opacity .5s ease;
}
.profile__edit-button:hover {
  opacity: .6;
}
@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    align-self: baseline;
    background-size: 7.5px;
    margin-left: 10px;
  }
}